
body {

}

.bglogin {
    background:url(/ouroboros/assets/img/tile.jpg) center top repeat-x;

}
#header {
    border-bottom:1px solid #666;
    background:#1E4176;
    padding:5px;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    height:70px;
    font-family:'Lucida Grande', Arial, Sans;
}
#flashContent { 
    width:100%;
    height:100%;
    bottom:0px;
    /*position:absolute;*/
    /*margin-bottom:30px;*/
}
#base {
    /*border-bottom:1px solid #656565;*/
    background-image: url(/ouroboros/assets/img/grad.jpg); 
    background-repeat:repeat-x; 
    padding:5px;
    color:#fff;
    font-size:20px;
    font-weight:bold;
    /*height:100px;*/
    font-family:'Lucida Grande', Arial, Sans;
    /*position:relative;*/
    vertical-align:bottom;

}	
.x-btn-mc  { text-align:left;}	

.x-accordion-hd {
    font-weight:bold;
    height: 24px;
    font-size: 12px;
    padding: 13px 3px 0px 7px;
}
#my-tabs { background: #e9e9e9; border: 1px solid #d3d3d3;/* margin: 20px;*/ padding: 10px;}
.application { background-image:url(/ouroboros/assets/assets/img/icons/application.png) !important; }

.header_cont{
    font:normal 10px Verdana, Arial, Helvetica, sans-serif; 
    background-image: url(/ouroboros/assets/img/grad.jpg); 
    background-repeat:repeat-x; height:90px;
}

.header_img {
    float:left;
}

.header_info{
    float:right; 
    min-width:200px; 
    height:70px; 
    vertical-align:bottom; 
    padding:7px; 
    /*position:relative;*/
}

.header_bot {
    padding:4px; 
    margin-left: 4px; 
    margin-top: 30px;
    float:right; 
    /*display:block; 
    position:absolute; */
    bottom:0px; 
    text-align:right;
    height: 15px;
    background-color:#727176; 
    color:#FFF; 
    right:3px; 
    text-decoration:none;
}

.header_bot:hover {
    background-color:#C8DA2F;
    color:#333;
}

.download_bot {
    display:block; 
    background: #eee url(/ouroboros/assets/img/bot_grad.jpg) left center repeat-x ;
    color: #000; 
    padding: 3px;
    text-align: center;
    width: 93px;
    text-decoration:none;
    border:1px solid #666;
}

.download_bot:hover {
    border:1px solid #333; 
}

.bot_holder {
    display: table-cell;
    vertical-align:middle;
}

.bot_holder img {
    vertical-align:middle;
}


.round_corner{
    border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
} 

#oc_container {  
    overflow: auto;
}


#content {
    float: left;
    width: 900px;
    font:normal 12px Verdana, Arial, Helvetica, sans-serif; 
    text-align: justify;
} 

#content li{
    list-style:none;
}

#content ol{
    list-style:none;
}
#content-anchor-tip ul {
    float: left;
    width: 200px;
    list-style-type: disc;
    margin-left: 15px;
} 

.ext-ie #content-anchor-tip ul {
    margin: 0;
    padding-left: 15px;
} 

#content-anchor-tip .thumb {
    float: right;
} 

#content-anchor-tip .status-icon {
    position: absolute;
    top: 4px;
    right: 50px;
    padding: 0;
    line-height: 0;
} 

#content-anchor-tip a:link, #content-anchor-tip a:visited {
    color: #339;
}

.upload-icon {
    background: url('/ouroboros/assets/img/icons/image_add.png') no-repeat 0 0 !important;
}

#fi-button-msg {
    border: 2px solid #ccc;
    padding: 5px 10px;
    background: #eee;
    margin: 5px;
    float: left;
}

#images-view .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#images-view .thumb{
    background: #dddddd;
    padding: 3px;
}
#images-view .thumb img{
    height: 100px;
    width: 100px;
}
#images-view .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#images-view .thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}

#images-view .x-view-over{
    border:1px solid #dddddd;
    /*background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;*/
    padding: 4px;
}

#images-view .x-view-selected{
    /*background: #eff5fb url(images/selected.gif) no-repeat right bottom;*/
    border:1px solid #99bbe8;
    padding: 4px;
}
#images-view .x-view-selected .thumb{
    background:transparent;
}

#images-view .loading-indicator {
    font-size:11px;
    /*background-image:url('../../resources/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;*/
    padding-left:20px;
    margin:10px;
}

#maintenance_body {
    width: 50%;
    height: 30%;
    margin-left: -17%;
    margin-top: -30%;
    top:65%;
    left:40%;
    right:50%;
    font-family: sans-serif, Geneva, Times;
    font-size: 25px;
    font-weight: bold;
    padding: 3px;
    color: #CCCC;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    bottom: 0;
    position: absolute;
    text-align:center;
    vertical-align:bottom;
}

#maintenance_logo_sietpol {
    text-align:center; 
    background-color:#FFF;
    margin-bottom:15px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    width:200px; 
    margin-left:auto; 
    margin-right:auto;
}

#maintenance_message {
    margin-bottom:20px;
}

#maintenance_date {
    font-size: 18px; margin-bottom:10px;
}

#maintenance_apology {
    font-size: 15px;
}

.browsers {
    margin-right:40%;
    margin-left: 40%;
    height: 60px;
    background-color: #EEE;
    font-family: sans-serif, Geneva, Times;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    color: #555;
    line-height: 12px;
    text-align: center;
    margin-bottom: 10px;
    width: 230px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    bottom: 0;
    position: absolute;
}